# Ignore OS files
.DS_Store

# Ignore Vercel build output
.vercel

# Ignore local environment files
.env

# Node modules and dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
.vite/

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.parcel-cache/

# Optimized image backups
*-optimized.jpg
*-optimized.png
